{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 text-center mt-2">
            <h2>Add your review for: {{ product.name }}</h2>
        </div>
    </div>
</div>
<hr>
{% endblock %}

{% block content %}
<!-- Add product review -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <!-- Add review form  -->
            <form method="POST" action="{% url 'add_review' product.id %}" id="add-review-form">
                {% csrf_token %}
                {{ review_form|crispy }}
                <!-- Cancel review link -->
                <a href="{% url 'product_detail' product.id %}"
                    class="button btn-warning text-capitalize text-decoration-none mt-1 mb-3">
                    <span class="text-uppercase">Cancel</span>
                </a>
                <!-- Submit review button -->
                <button class="button btn-success mx-3 mt-1 mb-3 text-capitalize" type="submit">
                    Submit review
                    <span class="icon ml-1">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}