{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-capitalize text-center">shopping bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        {% include "bag/bag-total.html" %}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        {% include "bag/checkout-buttons.html" %}
                    </div>
                </div>
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        {% include "bag/product-image.html" %}
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include "bag/product-information.html" %}
                    </div>
                    <div class="col-12 col-sm-6">
                        <p class="my-0"><strong>Product Price: </strong>€{{ item.product.price }}</p>
                        <p class="my-0"><strong>Subtotal:
                            </strong>€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include "bag/product-qty-form.html" %}
                    </div>
                </div>
                <!--Horizontal rule dividing each product-->
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                {% endfor %}
                <!-- Arrow to scroll up to the top of the page -->
                <div class="btt-button shadow-sm rounded-2 border border-black">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col">Name</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% include "bag/product-image.html" %}
                        </td>
                        <td class="py-3">
                            {% include "bag/product-information.html" %}
                        </td>
                        <td class="py-3 w-25">
                            {% include "bag/product-qty-form.html" %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "bag/bag-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            {% include "bag/checkout-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-4">There are no items added to your shopping bag.</p>
            <a href="{% url 'products' %}" class="button btn-outline-black btn-md text-decoration-none">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-capitalize">Go back to
                    shopping</span></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- On click function to scroll to the top of the page -->
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update the quantity of products 
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item on click and reload the page
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}