<form class="form update-form" method="POST" action="{% url 'edit_bag' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <!--Decrement QTY-->
                <button class="decrement-qty btn border rounded-0" data-item_id="{{ product.id }}"
                    id="decrement-qty_{{ product.id }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <!--Display QTY-->
            <input class="form-control form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}"
                min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <!--Increment QTY-->
                <button class="increment-qty btn border rounded-0" data-item_id="{{ product.id }}"
                    id="increment-qty_{{ product.id }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
            {% if item.product.has_sizes %}
            <input type="hidden" name="product_size" value="{{ item.size }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-warning"><small>Update Changes</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
    data-product_size="{{ item.size }}"><small>Remove All</small></a>