{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="background-img">
    <div class="container-fluid">
        <div>
            <h2 class="text-capitalize"><a href="#">new collections are here</a></h2>
        </div>
        <div class="text-capitalize">
            <button><a href="{% url 'products' %}" class="text-capitalize text-decoration-none button">shop
                    now</a></button>
        </div>
    </div>

</div>
{% endblock %}