{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="background-img">
    <div class="row bg-light">
        <div class="col-12 text-center text-capitalize">free delivery on orders over
            <em>€{{ free_delivery_threshold }}!</em></div>
    </div>
    <div class="container-fluid home-container col-3 position-absolute">
        <div>
            <h2 class="text-capitalize new-collections">our new collections are here</h2>
        </div>
        <div class="text-capitalize">
            <a href="{% url 'products' %}?category=bags" class="text-decoration-none"><button
                    class="btn btn-primary text-capitalize">shop
                    now</button></a>
        </div>
    </div>

</div>
{% endblock %}