{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta keywords="clothes, clothing, ecommerce, shopping, shop, online shopping, womens clothes, 
mens clothes, t-shirts, trousers, pants, sale, fashion, new style, new collection,
bags, watches, luxury watches, high quality clothing, designer clothes, new, trending, delivery, shipping">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="background-img position-relative">
    <div class="row bg-black">
        <div class="col-12 text-center text-capitalize text-light delivery-text">free delivery on orders over
            <em>€{{ free_delivery_threshold }}!</em>
        </div>
    </div>
    <div class="row col-12">
        <div class="container-fluid home-container position-absolute col-md-8 col-xs-6 text-center">
            <div class="text-capitalize">
                <h3 class="text-capitalize new-arrivals"><strong class="text-light">Find our Newest
                        collections
                        here!</strong></h3>
                <a href="{% url 'products' %}?category=new_arrivals" class="text-decoration-none"><button
                        class="button btn-primary show-now-button text-capitalize">shop
                        new arrivals!<span class="icon mx-2"><i class="fa-solid fa-truck"></i></span></button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}