@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'PT Serif', sans-serif;
    height: calc(100vh - 164px);
}

html {
    height: 100%;
}

a {
    color: black;
}

.nav-div {
    position: relative;
}

select,
select option {
    color: #000;
}

select:invalid,
select option [value=""] {
    color: #aab !important;

}

/* LOGO */

.logo {
    color: black;
}

.logo-span {
    color: rgb(126, 69, 0);
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------ General rules for various classes ------- */

.bg-black {
    background: #000 !important;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.text-black {
    color: #000 !important;
}

/* ----------------- Message Container and Toast -----------------  */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors are copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-information-container {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------ Social Media Icons --------------*/

.contact-facebook :hover {
    color: rgba(0, 64, 255, 0.734);
}

.contact-github :hover {
    color: rgb(204, 0, 255);
}

.social-media {
    font-size: 30px;
    margin: 10px;
}

.background-img {
    background: url('/media/main-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-container {
    top: 30%;
}

.btn-primary {
    font-size: 25px;
}

/*--------- Sign Up Form ---------*/

.signup-heading {
    margin-bottom: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 350px;
    padding: 2rem 1rem;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form-link {
    color: blueviolet;
}

/*--------- Sign out form ---------*/

.sign-out-container {
    background-color: rgba(255, 255, 255, 0.5);
}

.remove-item {
    float: right;
}

/*-------------Media Queries--------------*/

@media screen and (max-width:991px) {
    .remove-item {
        float: left;
    }
}

@media screen and (max-width:767px) {
    .remove-item {
        float: right;
    }
}

@media screen and (max-width:554px) {
    .logo {
        font-size: 25px;
    }
}

@media screen and (max-width:463px) {
    .logo {
        font-size: 16px;
    }

    .input-group-append {
        display: none;
    }

    .input-group-prepend {
        display: none;
    }
}

@media screen and (max-width:350px) {
    .home-container {
        top: 15%;
    }

    .btn-primary {
        font-size: 20px;
    }
}

@media screen and (max-width:300px) {
    .btn-primary {
        font-size: 16px;
    }

    .delivery-text {
        font-size: 12px;
    }
}