@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

a {
    color: black;
}

body {
    background: url('/media/main-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Antic Didone', sans-serif;
    display: flex;
    flex-direction: column;
}

.text-black {
    color: #000 !important;
}

/* LOGO */

.logo {
    color: black;
}

.logo-span {
    color: rgb(126, 69, 0);
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.bg-black {
    background: #000 !important;
}

.contact-facebook :hover {
    color: rgba(0, 64, 255, 0.734);
}

.contact-github :hover {
    color: rgb(0, 255, 21);
}

.contact-instagram :hover {
    color: rgba(221, 0, 255, 0.734);
}

footer {
    margin-top: auto;
}

/* Products page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255);
}

/*-------------Media Queries--------------*/