@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'PT Serif', sans-serif;
}

html {
    height: 100%;
}

a {
    color: black;
}

.text-black {
    color: #000 !important;
}

.nav-div {
    position: relative;
}

/* LOGO */

.logo {
    color: black;
}

.logo-span {
    color: rgb(126, 69, 0);
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------ General rules for various classes ------- */

.bg-black {
    background: #000 !important;
}

.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* ------------ Social Media Icons --------------*/

.contact-facebook :hover {
    color: rgba(0, 64, 255, 0.734);
}

.contact-github :hover {
    color: rgb(0, 255, 21);
}

.contact-instagram :hover {
    color: rgba(221, 0, 255, 0.734);
}

/* ------- Footer ------- */

footer {
    margin-top: auto;
}

.background-img {
    background: url('/media/main-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    display: flex;
    flex-direction: column;
}

.home-container {
    top: 20%;
    left: 15%;
}

.new-collections {
    font-size: 40px;
    margin-bottom: 20px;
}

.btn-primary {
    font-size: 25px;
}

/*--------- Sign Up Form ---------*/

.signup-heading {
    margin-bottom: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 350px;
    padding: 2rem 1rem;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
    position: relative;
}

.form-link {
    color: blueviolet;
}

/*--------- Sign out form ---------*/

.sign-out-container {
    background-color: rgba(255, 255, 255, 0.5);
}

/*-------------Media Queries--------------*/

@media screen and (max-width:554px) {
    .logo {
        font-size: 25px;
    }
}

@media screen and (max-width:463px) {
    .logo {
        font-size: 16px;
    }
}