{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row h-100">
    <div class="error-bg-container">
        <div class="col-10 my-auto float-center error-text-bg">
            <h1 class="display-4 logo-font text-black">404</h1>
            <h2 class="display-4 logo-font text-black">
                Uh Oh, the page you are looking for is not found... Please Check your spelling and try again
            </h2>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="button btn-lg rounded-1 text-uppercase py-3">Go back Home
                        <span class="icon ml-2">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}