{% load static %}

<footer class="py-4 mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a class="text-decoration-none" href="{% url 'home' %}">
                    <h3 class="logo logo-font text-center my-1"><strong><span
                                class="logo-span">A-Z</span>_Designers</strong>
                    </h3>
                </a>
                <hr>
                <p class="text-black">A-Z_Designers is an online ecommerce store. We currently do not have a walk in
                    store, therefore all
                    our products are sold online via our website.
                    A-Z_Designers warehouses are based across Ireland and we intend to spread out through more of Europe
                    to improve speed of our deliveries.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <ul class="list-unstyled text-black">
                    <h3 class="my-1">Contact Us:</h3>
                    <hr>
                    <li>Email: A-Z_Designers@example.com</li>
                    <li>Phone: 0861000111</li>
                    <li class="contact-list-item contact-facebook list list-inline-item"><a
                            href="https://www.facebook.com/profile.php?id=100089866856571" class="text-decoration-none"
                            target="_blank">
                            <span class="social-media icon">
                                <i class="fa-brands fa-facebook">

                                </i>
                            </span>
                        </a>
                    </li>
                    <li class="contact-list-item contact-github list list-inline-item"><a
                            href="https://github.com/Renaldas0" class="text-decoration-none" target="_blank">
                            <span class="social-media icon">
                                <i class="fa-brands fa-github"></i>
                            </span>
                        </a>
                    </li>
                    <!--Copyright and script that sets year to current year -->
                    <li>Copyright &copy; <script>
                            document.write(new Date().getFullYear())
                        </script><strong><span class="logo-span"> A-Z</span>_Designers</strong> All Rights Reserved</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled text-center">
                    <h3 class="text-black text-center my-1">Policies</h3>
                    <hr>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a></li>
                    <li><a href="{% url 'return_and_refund_policy' %}">Returns & Refunds Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--
<footer class="footer d-flex flex-column text-center text-black bg-white sticky-bottom">
    <div class="container">
        <div class="row mb-2">
            <div class="col-12">
                <a class="text-decoration-none" href="{% url 'home' %}">
                    <h4 class="logo logo-font text-center my-0"><strong><span
                                class="logo-span">A-Z</span>_Designers</strong>
                    </h4>
                </a>
            </div>
        </div>
        <h5 class="contact text-capitalize">Contact us</h5>
        <p>Email: testmail@email.com</p>
        <p>Phone: 0889168999</p>

        <ul class="contact-list">
            <li class="contact-list-item contact-facebook list list-inline-item"><a
                    href="https://www.facebook.com/profile.php?id=100089866856571" class="text-decoration-none"
                    target="_blank">
                    <span class="social-media icon">
                        <i class="fa-brands fa-facebook">

                        </i>
                    </span>
                </a>
            </li>
            <li class="contact-list-item contact-github list list-inline-item"><a href="https://github.com/Renaldas0"
                    class="text-decoration-none" target="_blank">
                    <span class="social-media icon">
                        <i class="fa-brands fa-github"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>
-->