{% extends 'base.html' %}
{% load static %}


<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-capitalize text-center mt-2">Manage Products</h2>
            <hr>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-dark">Add Product</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form  | crispy }}
                <div class="text-right">
                    <a class="button btn-warning rounded-1" href="{% url 'products' %}">Go back</a>
                    <button class="button btn-success rounded-1 text-capitalize" type="submit">Add new product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}